/.vs/MagicCube/v14/.suo
/.gitlab-ci.yml

/AutoUpdateWPF/obj
/AutoUpdateWPF/bin
/InstallPackageWPF/obj
/InstallPackageWPF/bin
/MagicCube.DAL/obj
/MagicCube.DAL/bin
/MagicCube.ViewModel/obj
/MagicCube.ViewModel/bin
/MagicCubeShell/obj
/MagicCubeShell/bin
/MFUpdater/obj
/MFUpdater/bin
/Util/obj
/Util/bin
/MagicCube.v12.suo
/MagicCube/obj
/MagicCube/bin
/MagicCubeShell/MagicCubeShell.csproj.user
/Util/Util.csproj.user
/MagicCube/obj
/.vs
/sample/bin
/sample/project/win/QAVSDKDemo.VC.db
/sample/project/win/imsdk_20161222.log
/sample/project/win/QAVSDK_20161222.log
/sample/project/win/Debug
/sample/project/win/FileCache
/sample/project/win/ipch
/sample/project/win/PicCache
/sample/project/win/Release
/MagicCube/e53ey0kl.tmp_proj
/ipch/QAVSDKDEMO-ba3e8913
/MagicCube.VC.VC.opendb
/MagicCube.VC.db
*.msgstore
*.msgstore-shm
*.msgstore-wal
*.aps
*.ipch
/sample/project/win/*.msgstore
/sample/project/win/*.log
/sample/project/win/*.log
